<!DOCTYPE html>

<html>
   <head>
      <title>GP Portfolio App | freeCodeCamp.org</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>GP Portfolio App</h1>
    <hr />
    <div class="container">
      <ul>
        <li><a href="/timestamp_microservice">Timestamp Microservice</a></li>
        <li><a href="/headerParserReq"> Parse Header Request </a></li>
        <li><a href="https://boilerplate-project-urlshortener-1.gp12.repl.co/"> URL Shortener API </a></li>

      </ul>
    </div>
  </body>
</html>
